body {
    -webkit-tap-highlight-color: transparent;
    background-color: #ffffff;
    color: #000000;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body.hide-romaji .romaji-text { display: none !important; }
body.hide-arti .arti-text { display: none !important; }

/* Highlight untuk tanda kurung sudut Jepang di kalimat */
.highlight-jp { font-weight: 700; background-color: #f3f4f6; padding: 0 2px; border: 1px solid #000; border-radius: 2px;}
